<?xml version="1.0"?>

<launch>

    <node pkg="tf" type="static_transform_publisher" name="baselink_basefootprint_broadcaster" args="0 0 0 0 0 0 base_link base_footprint 100"/>
    <node pkg="tf" type="static_transform_publisher" name="basefootprint_laser_broadcaster" args="0 0 0 0 0 0 base_footprint laser 100"/>


    <!-- <node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster" args="0 0 0 0 0 0 /map /odom 100"/> -->

    <param name="use_sim_time" value="false" />
    <!-- <param name="use_sim_time" value="true" /> -->

    <node name="static_tf0" pkg="tf" type="static_transform_publisher" args="2 0 0 0 0 0 /map /base_link 100"/>
    <rosparam file="$(find simple_costmap_configuration)/params/minimal.yaml" command="load" ns="/costmap_node/costmap" />
    <node name="map_server" pkg="map_server" type="map_server" args="$(find simple_costmap_configuration)/realmap.yaml"/>
    <!-- Dropbox\SpCoSLAM\data\alg2wicWSLAG10lln008\map/map342.yaml -->

</launch>
